body {
  background-color: orange;
  margin-right: 900px;
}

titulo {
  color: red;
}

titulo:hover {
  color: yellow;
}
p:hover {
  color: blue;
  background-color: yellow;
}

.columnas {
  column-count: 3;
  column-gap: 40px;
  column-rule: 2px solid red;
}
