body {
  margin-left: 500px;
  margin-top: 80px;
}

.bordeexterior {
  background-color: lightgrey;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  border: solid 1px black;
}

.borde1 {
  background-color: white;
  border-radius: 50%;
  height: 450px;
  width: 450px;
  border: solid 8px red;
  margin-left: 18px;
  margin-top: -482px;
}
.borde2 {
  background-color: red;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  margin-left: 50px;
  margin-top: -432px;
}
.borde3 {
  background-color: white;
  border-radius: 50%;
  height: 350px;
  width: 350px;
  margin-left: 75px;
  margin-top: -372px;
}
.borde4 {
  background-color: red;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-left: 100px;
  margin-top: -322px;
}
.borde5 {
  background-color: white;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-left: 125px;
  margin-top: -272px;
}
.borde6 {
  background-color: red;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-left: 150px;
  margin-top: -222px;
}
.borde7 {
  background-color: white;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-left: 175px;
  margin-top: -172px;
}
.centro {
  background-color: red;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin-left: 215px;
  margin-top: -110px;
}

.lineahorizontal {
  border: solid 2px;
  width: 495px;
  margin-top: -36px;
}
.lineavertical {
  border: solid 2px;
  height: 497px;
  width: 0px;
  margin-left: 248px;
  margin-top: -273px;
}
