body {
  margin: 0px;
  font-family: system-ui;
  margin-top: -16px;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
}
.item {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  text-align: center;
}

header {
  background-color: black;
  color: white;
}

nav {
  background-color: red;
  color: white;
}

.hero {
  background-color: royalblue;
  height: 200px;
  color: white;
}
.main {
  background-color: rgb(22, 15, 45);
  height: 100px;
  color: white;
  height: 200px;
}
.naranja {
  background-color: rgba(219, 164, 25, 0.806);
  height: 80px;
}
.verde {
  background-color: rgba(87, 239, 135, 0.806);
  height: 80px;
}
.azulclaro {
  background-color: lightblue;
}





  /*Tablet*/

@media (min-width: 768px) {

  .menu {

    grid-row-start:span 3;
    grid-row-end: span 5 ;

  } 


}

  /*Ordenador*/

@media (min-width: 1024px) {
  /* body {
      background-color: green;
    } */
}
