body {
  background-color: blanchedalmond;
  margin-left: 650px;
}

.boton {
  height: 25px;
  width: 200px;
  text-align: center;
  margin-bottom: 4px;
}
.botonizquierda {
  text-align: left;
}
.botonderecha {
  text-align: right;
}
