body {
  background-color: #242f43;
  margin: 100px;
  
}

.exterior {
  width: 370px;
  height: 560px;
  background-color: #394666;
  border-radius: 10px;
  padding: 5px;
  margin-left: 20px;
  margin-top: 20px;
}
h2 {
  font-size: 18px;
  color: white;
  font-weight: 50;
  margin: 15px;
  font-family: "League Spartan", sans-serif ;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.tema {
  margin-right: -90px;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cambiartema input {
  display: none;
}

.cambiartema {
  --container_width: 110px;
  margin-right: 20px;
  margin-left: 0px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #212121;
  color: #fff;
  width: var(--container_width);
  overflow: hidden;
  border: 2px solid #fff;
}

.cambiartema label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 14px;
}

.seleccion {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(var(--container_width) / 3);
  z-index: 0;
  left: 0;
  top: 0;
  transition: 0.15s ease;
}

.cambiartema label:has(input:checked) {
  color: #000;
}

.cambiartema label:has(input:checked) ~ .seleccion {
  background-color: #61729d;
  display: inline-block;
}

.cambiartema label:nth-child(1):has(input:checked) ~ .seleccion {
  transform: translateX(calc(var(--container_width) * 0 / 3));
}

.cambiartema label:nth-child(2):has(input:checked) ~ .seleccion {
  transform: translateX(calc(var(--container_width) * 1 / 3));
}

.cambiartema label:nth-child(3):has(input:checked) ~ .seleccion {
  transform: translateX(calc(var(--container_width) * 2 / 3));
}

.pantalla {
  background-color: #192033;
  width: 350px;
  height: 100px;
  margin: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  color: white;
  font-size: 30px;
  text-align: right;
  font-family: "League Spartan", sans-serif ;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.teclado {
  background-color: #242f43;
  width: 350px;
  height: 370px;
  margin: 10px;
  border-radius: 8px;
}
.botones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 5px;
  padding: 8px;
}
.normal {
  height: 52px;
  background-color: #eae3db;
  font-size: 25px;
  box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px,
    #eae3db 1.5px 1.5px 2px 0px inset, grey -3.2px -3.2px 8px 0px inset;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: "League Spartan", sans-serif ;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

}
.amplio {
  background-color: #61729d;
  grid-column: span 2;
  height: 60px;
  font-size: 25px;
  font-family: "League Spartan", sans-serif ;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.azul {
  background-color: #61729d;
  color: white;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px,
    #61729d 1.5px 1.5px 2px 0px inset, #192033 -3.2px -3.2px 8px 0px inset;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family: "League Spartan", sans-serif ;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.rojo {
  background-color: red;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px,
    tomato 1.5px 1.5px 2px 0px inset, #192033 -3.2px -3.2px 8px 0px inset;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  border: none;
  outline: none;
  border-radius: 5px;
}

.azul:active {
  box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
    #c7c3c0 -3.2px -3.2px 8px 0px inset;
  background-color: #a2b3e1;
}
.normal:active {
  box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
    #c7c3c0 -3.2px -3.2px 8px 0px inset;
  background-color: #ffffff;
}
.rojo:active {
  box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
    #c7c3c0 -3.2px -3.2px 8px 0px inset;
  background-color: #f96c5b;
}

/* TEMA2 */
.tema2 h2 {
  color: rgb(231, 154, 11);
  
}
.tema2 .cambiartema {
  color: rgb(231, 154, 11);

  border: 2px solid rgb(231, 154, 11);
}

body.tema2 {
  background-color: #e6e6e6;
}

body.tema2 .exterior {
  background-color: #d3cdcd;
}

body.tema2 .pantalla {
  background-color: #e6e6e6;
  color: rgb(231, 154, 11);
}
body.tema2 .teclado {
  background-color: #d3cdcd;
}
body.tema2 .normal {
  background-color: wheat;
  color: rgb(83, 54, 0);
}

body.tema2 .azul {
  background-color: #71f2ff;
  color: rgb(83, 54, 0);
  box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px,
    #71f2ff 1.5px 1.5px 2px 0px inset, #192033 -3.2px -3.2px 8px 0px inset;
}

body.tema2 .amplio {
  background-color: #ff8b38;
  color: rgb(83, 54, 0);
  grid-column: span 2;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px,
    #ff8b38 1.5px 1.5px 2px 0px inset, #192033 -3.2px -3.2px 8px 0px inset;
}
body.tema2 .azul:active {
  box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
    #c7c3c0 -3.2px -3.2px 8px 0px inset;
  background-color: #71dae4;
}
body.tema2 .amplio:active {
  box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
    #c7c3c0 -3.2px -3.2px 8px 0px inset;
  background-color: #f19d60;
}
body.tema2 .cambiartema label:has(input:checked) ~ .seleccion {
  background-color: orange;
  display: inline-block;
}

/* TEMA3 */

.tema3 h2 {
  color: yellow;
}
.tema3 .cambiartema {
  color: yellow;

  border: 2px solid yellow;
}
body.tema3 {
  background-color: #1e0837;
}

body.tema3 .exterior {
  background-color: #17062a;
}

body.tema3 .pantalla {
  background-color: #1e0837;
  color: yellow;
}
body.tema3 .teclado {
  background-color: #1e0837;
}
body.tema3 .normal {
  background-color: #331b4d;
  color: yellow;
  box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px,
    #331b4d 1.5px 1.5px 2px 0px inset, #192033 -3.2px -3.2px 8px 0px inset;
}

body.tema3 .azul {
  background-color: #8631b0;
  color: yellow;
  box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px,
    #331b4d 1.5px 1.5px 2px 0px inset, #192033 -3.2px -3.2px 8px 0px inset;
}

body.tema3 .amplio {
  background-color: yellow;
  color: black;
  grid-column: span 2;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.377) 10px 10px 8px,
    yellow 1.5px 1.5px 2px 0px inset, #192033 -3.2px -3.2px 8px 0px inset;
}
body.tema3 .normal:active {
  box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
    rgb(122, 65, 146) -3.2px -3.2px 8px 0px inset;
  background-color: rgb(103, 21, 136);
}
body.tema3 .azul:active {
  box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
    #c7c3c0 -3.2px -3.2px 8px 0px inset;
  background-color: #6b34ac;
}
body.tema3 .amplio:active {
  box-shadow: rgba(0, 0, 0, 0.377) 0px 0px 0px, inset 0.5px 0.5px 4px #000000,
    #c7c3c0 -3.2px -3.2px 8px 0px inset;
  background-color: rgb(223, 223, 43);
}
body.tema3 .cambiartema label:has(input:checked) ~ .seleccion {
  background-color: #94fff9;
  display: inline-block;
}
