body{
    margin: 50px;
}
h2{
    font-family: fantasy;
    font-weight: 100;
}
button{
    margin-bottom: 20px;
    padding: 3px;
}
.oculto {
    display: none; 
}
select{
    margin-right: 5px;
    padding: 3px;
}